.accordianContainer {
  display: flex;
  flex-direction: column;
  background-color: brown;
}
  
.accordionHeader {
  background-color: aqua;
  color: blue;
  font-size: large;
  cursor: pointer;
}
  
.accordionBody {
  background-color: crimson;
  color: blanchedalmond;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}